form img {
    height: 36px;
    width: auto;
    vertical-align: middle;
    display: inline-block;
}

form input {
    height: 54px;
    vertical-align: middle;
    /*    margin-left: 34px;*/
    width: 100%;
    padding-left: 15px;
    line-height: 54px;
}

header {
    background: #004364;
height:330px;
}

.frontiere {
    margin-top: -115px;
    height: 200px;
    background: #004364;
    transform: rotate(-2.23deg);
}

#formulaire {
    margin-top: 110px;
    padding-bottom: 50px;
}

.line-form {
    padding-bottom: 25px;
}

.picto-text {
    /*        padding-left: 15px;*/
}

textarea {
    width: 100%;
    padding: 5px;
}

form .picto {
    width: auto;
}

#formulaire button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #004364;
    color: white;
    width: 320px;
    height: 76px;
}


/*Plus d'information*/

#more-information {
    background-color: #81b0d3;
    padding-top: 70px;
    padding-bottom: 70px;
}

h2 {
    margin-top: 0;
}

.content-more-information {
    padding-left: 15px;
    font-size: 1.2em;
}

.wrapper-more-information {
    margin-bottom: 15px;
    color: #004364;
    opacity: 0.8;
}

.wrapper-more-information a {
    color: #004364;
}

.wrapper-more-information:hover {
    opacity: 1;
}

.wrapper-more-information img {
    width: 36px;
}
.col-droite{
padding-left:70px;

}
.col-droite h2{text-align: left;}
.adresse-texte{display:none;}

/*RWD*/

@media (max-width:992px) {
    .picto-droite {
        padding-top: 25px;
    }
    .picto {
        padding-bottom: 10px;
    }
    .col-droite{
        padding-left: 0;
    }
    .adresse-map{
        display:none;
    }
    .adresse-texte{display:block;}
}
