#video {
    position:relative;
}

#video img {
    width: 100%;
    height: auto;
    opacity: 0.5;
    max-height: 630px;

}

.wrapper-catch-phrase{
        position:absolute;
    top:0;
    left:0;
width: 100%;
        color: #004364;
    z-index: 1;
}
.wrapper-catch-phrase h1{
font-size: 3.5em;
}
.catch-phrase{margin-left: auto;
margin-right: auto;
}
.catch-phrase h2{text-align:left;}
/*

#video {

 background-image:url('../img/banniere.png');
}
*/

/*Avantages*/

#majeurs .row,
#mineurs .row {
    margin-left: auto;
    margin-right: auto;
    /*    width: 1200px;*/
}

#majeurs img,
#mineurs img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 50px;
}

#majeurs .row >*,
#mineurs .row>* {
    border: 1px solid #434343;
    padding: 0;
}

#majeurs .hover,
#mineurs .hover {
    /*On cache le plus d'information*/
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(129, 176, 211, 0.6);
    height: 100%;
}

#majeurs .wrapper,
#mineurs .wrapper {
    overflow: hidden;
    height: 472px;
}

.wrapper a.boutonplus {
    position: absolute;
    width: 100%;
    bottom: 26px;
}

#mineurs .wrapper:hover .hover,
#majeurs .wrapper:hover .hover {
    opacity: 1;
}

#mineurs .wrapper:hover .content,
#majeurs .wrapper:hover .content {
    opacity: 0;
}

#mineurs .description,
#majeurs .description {
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    font-size: 1.2em;
    color: #434343;
}


/*On supprimer les bordures internes*/

/*
.b-t-0{
    border-top: 0;
}

.b-b-0 {
    border-bottom: 0;
}

.b-l-0 {
    border-left: 0;
}
.b-r-0 {
    border-right: 0;
}
*/


/**************************************
SLIDER
**************************************/

#slider {
    background-color: white;
    height: 530px;
/*    width: 100%;*/
    margin-top: 80px;
    width!992px;
}

.dg-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.dg-wrapper {
    width: 550px;
    height: 340px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.dg-wrapper img {
    /*V1*/
/*
    width: auto;
    height: 200px;
*/
    /*V2*/
    width:300px;
    height:auto;
}


/* on crée une ombre autour des visuels */

.dg-wrapper a {
/*    width: 400px;*/
    width: 88%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    /*    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);*/
}

.dg-wrapper a.dg-transition {
    transition: all 0.5s ease-in-out;
}

.dg-wrapper a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.dg-wrapper a div {
    text-align: center;
    padding: 20px;
    color: #000;
    font-size: 16px;
    width: 100%;
    margin-top: 30px;
    display: none;
    position: absolute;
    font-family: Raleway, 'Century Gothic';
}

.dg-wrapper a.dg-center div {
    display: block;
}


/* Début des flèches de navigation */

.dg-container nav {
    width: 820px;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
}

.dg-container nav span {
    text-indent: -9000px;
    float: left;
    cursor: pointer;
    width: 100px;
    height: 100px;
    opacity: 0.8;
    background: transparent url("../img/refs/flechegauche.png") no-repeat top left;
    transition: opacity 0.8s;
}

.dg-container nav span:hover {
    opacity: 1;
}


/* Symétrie de la flèche de droite puis hover */

.dg-container nav span.dg-next {
    background-position: top right;
    margin-left: 10px;
    float: right;
    background: transparent url("../img/refs/flechedroite.png") no-repeat top left;
    transition: opacity 0.8s;
}

.dg-container nav span.dg-next:hover {
    background-position: bottom right;
}

#slider-mobile h4{
        color: #004364;
    text-align: center;
    padding-top: 35px;
    border-bottom: 1px solid #004364;
    padding-bottom: 65px;
}
#slider-mobile h4.b-b-0{
    border-bottom:0;
}
@media (max-width:992px){
    #slider{
        display:none;
    }
}
/*Slider mobile*/
#slider-mobile{
    display:block;
}


.reference-mobile {
    width:100%;
        padding: 60px;


}


.reference-mobile img {
    height: 150px;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width:992px){
    #slider-mobile{
        display:none;
    }
.wrapper-catch-phrase h1, .wrapper-catch-phrase h2{
    font-size:1em;
    }

}
