/****************************
    Tuto couleur
****************************/
/****************************
Bleu foncé : #004364
Bleu clair : #81b0d3
Gris écriture : #434343

****************************/
.illustration{
    width:100%;
}

#references{
    padding-bottom: 50px;
    padding-top: 50px;
}
#references .paragraphe {
    color:#434343;
    font-family: Roboto;
    font-size : 1.2em;
}

#references .align-gauche{
    text-align: left;
}

#references .align-droite{
    text-align: right;
}
.paragraphe{text-align:justify;}
.more-information{
    font-size:1.2em;
    color:#004364;


}
