/****************************
    Tuto couleur
****************************/
/****************************
Bleu foncé : #004364
Bleu clair : #81b0d3
Gris écriture : #434343

****************************/



@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf);
}

body {
    font-family: Roboto;
    /* font-size:2em; */
}

a:hover {
    text-decoration: none;
}

nav {
    margin-bottom: 0;
}

.navbar-header,
nav.navbar.navbar-default {
    min-height: 104px;
    border-bottom: 0;
}

nav.navbar.navbar-default {
    font-size: 1.5em;
    /* overflow-y:hidden; */
    margin-bottom: 0;
}

nav > * {
    /* height:104px; */
}

nav > .nav.navbar-nav.navbar-right> a {
    padding-right: 25px;
}

.nav.navbar-nav,
.nav.navbar-nav li {
    /* height:104px; */
}

.nav.navbar-nav li a {/*Menu niveau 1*/
    line-height: 104px;
    height: 104px;
    padding-top: 0;
    padding-bottom: 0;
}

.nav.navbar-nav li a:hover { /*Menu niveau 1*/
    background: #81b0d3;
}
/***************************
Menu niveau 2
***************************/
.nav.navbar-nav li li a, .nav.navbar-nav  li li a:hover{
    height:50px;
    line-height:50px;
}
.nav.navbar-nav .sous-menu{
    padding-top:0;
    padding-bottom:0;
    border:0;
}



/*Titres*/
header h2{
    color:white;
    padding-top:60px;
}
header h3{color:white;}
h2,
h3 {
        text-align: center;
        line-height: 1.2em;
    font-size:2em;

}

h2.fonce,
h3.fonce {
    color: #004364;
}

h2.clair,
h3.clair {
    color: #81b0d3;
}
    h2 {
        font-size: 44px;
    }
    h3 {
        font-size: 2.5em;
    }
    /*Footer*/
    footer {
        height: 90px;
        background-color: #004364;
    }
    footer a {
        float: right;
        padding-right: 20px;
        line-height: 90px;
    }
header{
     background: #004364;
    height: 360px;
    padding-top: 30px;
    padding-bottom: 30px;
}
header h2{
    margin-top:0;
}
